<h1>Poem show page</h1>
<%= link_to "Edit Poem", edit_poem_path(@poem) %> |
<%= link_to "RailsNewComment", new_poem_comment_path(@poem) %> |
<%= link_to "AjaxNewComment", poem_path(@poem) %>
<hr>

<fieldset>
	<h3>
		<%= @poem.title %>
	</h3>
	<p>
		<%= @poem.content %>
	</p>
	<h3>rails comments: </h3>
	<% @poem.comments.each do |comment| %>
	<p>
		<%= comment.content %>
	</p>
	<% end %>
</fieldset>
<br>
<br>

<h3>AJAX loads custom Rails partial(html retrieved from Rails server):</h3>
<fieldset>
	<%= link_to "Ajax: Load Comments", poem_comments_path(@poem), class: "load_comments" %>
	<br>
	<div id="comments-html-area">ajax html comments here: </div>
	<br>
</fieldset>

<h3>AJAX loads JSON from Rails route/controller/action/model (JSON retrieved from Rails server):</h3>
<fieldset>
	<%= link_to "Ajax: Load Comments", poem_comments_path(@poem), class: "load_comments" %>
	<br>
	<div id="comments-json-area">ajax json comments here: </div>
	<br>
</fieldset>